<div class="container">
    <nav class="navbar-main">
        <div class="nav-goreba">GOREBA</div>
        <div class="nav-search">
            <i class="material-icons">search</i> 
            <input id="search" type="search" placeholder="Search ..." required />
        </div>
        <div>
            <i class="material-icons">favorite_border</i>
        </div>
        <div>
            <button class="nav-button">FREE Estimate</button>
        </div>
        <div>
            <i class="material-icons">shopping_cart</i>
        </div>
    </nav>
</div>
